.log {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins');

@media screen and (min-width: 480px) {
  body {
    font-family: 'Poppins', sans-serif;
    border-radius: 5px 5px 5px 5px;
    border-color: #fff;
  }
}

.flex {
  display: flex;
  justify-content: space-between;
  padding: 10px 8px;
}

.details {
  border-radius: 0 0 0 10px;
  background-image: url('img/bground-mobile1.png');
  padding: 40px;
}

.description {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.owner {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #172b4d;
}

.flexbox li {
  display: inline;
  margin-right: 1%;
}

h2 {
  color: #6070ff;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.connect {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.fa-bars {
  color: #6070ff;
  width: 18px;
  height: 12px;
}

.position {
  padding: 0 5px 5px 1px;
  margin: 0;
  max-width: 10%;
  max-height: 15%;
}

.ace {
  margin-block-start: 5px;
}

div {
  text-align: left;
}

.works {
  padding: 20px;
  background-color: #f7f7f9;
  display: grid;
  grid-template-columns: auto;
}

.works-flex-container {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
}

.portfolio-img {
  width: 100%;
}

.portfolio-site {
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-top: 12px;
  margin-bottom: 12px;
}

.history li {
  display: flex;
}

.history {
  font-family: 'Poppins', sans-serif;
  display: inline;
  font-size: 13px;
  line-height: 16px;
  padding-right: 12px;
  color: #7a869a;
  margin-top: 0;
}

.fa-circle {
  padding-right: 12px;
  color: #c1c7d0;
}

#direct {
  color: #344563;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 16px;
}

.direction {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

#language {
  padding-left: 0;
}

.type li {
  display: inline;
  }

#language li {
  display: inline;
  border-radius: 8px;
  background-color: #ebebff;
  color: #6070ff;
  font-size: 12px;
  font-weight: 500px;
  line-height: 16px;
  font-style: normal;
  letter-spacing: 3%;
  padding: 4px 12px;
}

.more {
  border-radius: 8px;
  background-color: #fff;
  padding: 12px;
  border: 1px solid #6070ff;
  color: #396df2;
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 3%;
  margin-top: 24px;
  margin-bottom: 28px;
}

.more:hover {
  background-color: #6070ff;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  color: #fff;
  transition: 0.76s;
}

.more:active {
  background: #2230d2;
  border-radius: 8px;
  color: #fff;
}

.more:disabled {
  color: #5e6c84;
  background-color: #fff;
  border: 1px solid #c1c7d0;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  margin-bottom: 36px;
}

.grid-container > div {
  margin-bottom: 88px;
}

.myself {
  background-color: #fff;
  padding: 20px;
  border-radius: 0 70px 0 0;
  border: 2px solid #f7f7f9;
}

.yes {
  margin-left: 40px;
  float: right;
  font-size: small;
}

.yess {
  font-size: medium;
  float: right;
  font-style: bold;
}

.resume {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  }

.sub-languages {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #f7f7f9;
  border-radius: 8px;
  padding: 9px 0 9px 12px;
  margin-bottom: 12px;
}

.about {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.finalist {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  list-style-type: none;
}

.shift {
  padding-left: 15px;
  color: #253858;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.hr {
  background: #dfe1e6;
  position: absolute;
  height: 1px;
  left: 0;
  right: 0;
  bottom: 0;
}

.pee {
  
  font-size:normal;
    position:absolute;
    left:0;
    right: 440px;;
    margin-left:auto;
    margin-right:auto
}

.pee1 {
  font-size:normal;
    position:absolute;
    left:0;
    right:380px;
    margin-left:auto;
    margin-right:auto
}

.pee4 {
  font-size:normal;
    position:absolute;
    left:10px;
    right:250px;
    margin-left:auto;
    margin-right:auto;
}

.pee3 {
  font-size:normal;
    position:absolute;
    left:10px;
    right:320px;
    margin-left:auto;
    margin-right:auto;
}

.connect1 {
  padding: 40px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  color: #7f8cff;
}
