.log {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins');

@media screen and (min-width: 480px) {
  body { 
    font-family: 'Poppins', sans-serif;
    border-radius: 5px 5px 5px 5px;
    border-color:#FFFFFF;
     }
}

.flex {
  display: flex;
  justify-content: space-between;
  padding: 10px 8px;
  
}

.details {
  border-radius: 0 0 0 10px;
  background-image: url('img/bground-mobile1.png');
  padding:40px;
}

.description {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.owner {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #172b4d;
}

.flexbox li {
 display:inline;
 margin-right:1%;
 }

h2 {
  color:#6070ff;
  font-size:16px;
  font-family: ;
}

.connect {
  font-family:'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7F8CFF;
  margin-left: 12%;
}

.fa-bars {
  color: #6070ff;
  width: 18px;
  height: 12px;
}

.position {
   padding: 0px 5px 5px 1px;
   margin:0px;
   max-width: 10%;
   max-height: 15%;
   
  }

.ace {
  
  margin-block-start: 5px;
}

div {
  text-align: left;

  
}